{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription Mentor</h1>

    {{ form_start(form) }}

    {{ form_row(form.prenom, {'label': 'Prénom', 'attr' : {'placeholder' : 'Votre prénom...' }}) }}
    {{ form_row(form.nom, {'label': 'Nom', 'attr' : {'placeholder' : 'Votre nom...' }}) }}
    {{ form_row(form.structure, {'label': 'Structure', 'attr' : {'placeholder' : 'Votre structure...' }}) }}
    {{ form_row(form.email, {'label': 'Email', 'attr' : {'placeholder' : 'Votre email...' }}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr' : {'placeholder' : 'Votre mot de passe...' }}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation mot de passe', 'attr' : {'placeholder' : 'Confirmer mot de passe...' }}) }}


    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}

{% endblock %}
