{% extends 'base.html.twig' %}

{% block title %}Liste des Admins
{% endblock %}

{% block body %}

	<div id="nav_gauche" class="sidebar-container slideInLeft atss-left at-custom-sidebar addthis-animated">
		<ul class="sidebar-navigation">
			<li class="header">Navigation</li>
			<li>
				<a href="{{path('utilisateurs')}}">
					<i class="fa fa-home" aria-hidden="true"></i>
					Tous les utilisateurs
				</a>
			</li>
			<li>
				<a href="{{path('admins')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Admins
				</a>
			</li>
			<li>
				<a href="{{path('mentors')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Mentors
				</a>
			</li>
			<li>
				<a href="{{path('juges')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Juges
				</a>
			</li>
			<li>
				<a href="{{path('competitionsList')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Compétitions
				</a>
			</li>
		</ul>
	</div>


	<h1 class="text-center pt-5">Liste des Admins</h1>

	<div class="text-center pt-5">
		<a href="{{ path('new_utilisateur')}}" class=" btn btn-success">Ajouter</a>
	</div>
	

	<table class="table">
		<thead>

			<th>Id</th>
			<th>Email</th>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Structure</th>
			<th>Rôles</th>
			<th>Actions</th>

		</thead>
		<tbody>

			{% for user in users |sort((a, b) => a.id < b.id) %}
				<tr>
					{% for role in user.roles %}
						{%  if role == "ROLE_ADMIN" %}
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.prenom }}</td>
							<td>{{ user.nom }}</td>
							<td>{{ user.structure }}</td>
							<td>
								{% for role in user.roles %}
									{%  if role == "ROLE_MENTOR" %}
										Mentor
									{% elseif role == "ROLE_ADMIN" %}
										Admin
									{% elseif role == "ROLE_JUGE" %}
										Juge
									{% endif %}
								{% endfor %}
							</td>

							<td>
								<a href="{{ path('modifier_utilisateur', {'id': user.id})}}" class=" btn btn-warning">Modifier</a>

								<a href="{{ path('delete_utilisateur', {'id': user.id})}}" class=" btn btn-danger ml-2" onclick="return confirm('Voulez-vous vraiment suprimmer cette utilisateur ?')">Suprimmer</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas d'utilisateurs inscrit</td>
				</tr>
			{% endfor %}

		</tbody>
	</tale>

{% endblock %}
