{% extends 'base.html.twig' %}

{% block title %}Classement
{% endblock %}

{% block body %}

	<div id="nav_gauche" class="sidebar-container slideInLeft atss-left at-custom-sidebar addthis-animated">
		<ul class="sidebar-navigation">
			<li class="header">Classement</li>
			<li>
				<a href="{{path('classement_general')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Général
				</a>
			</li>
			{% for competition in competitions |sort((a, b) => a.id < b.id) %}
				<li>
					<a href="{{path('classement_competition', {'id': competition.id})}}">
						<i class="fa fa-home" aria-hidden="true"></i>
						{{ competition.nom }}
					</a>
				</li>
			{% else %}
				<p>Il n'y a pas de compétition</p>
			{% endfor %}
		</ul>
	</div>

	<h1 class="text-center pt-5">Classement Général</h1>

	<div class="text-center pt-5">
		<a href="{{ path('competitionsList')}}" class=" btn btn-info ">Retour</a>
	</div>

	<table class="table table-hover">
		<thead class="thead-light">

			<th>Place</th>
			<th>Equipe</th>
			<th>Note</th>
			<th>Actions</th>

		</thead>
		<tbody>

			{% for equipes in equipes |sort((a, b) => a.notes < b.notes)%}
				<tr>

					<td>{{ loop.index }}</td>
					<td>{{ equipes.nom }}</td>
					{% if equipes.notes != null %}
						<td>{{ equipes.notes }}/100</td>
					{% else %}

						<td>
							<p></p>
						</td>
					{% endif %}
					<td>
						<a href="#" class=" btn btn-warning">Modifier</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas de classement</td>
				</tr>
			{% endfor %}

		</tbody>
	</tale>

{% endblock %}
