{% extends 'base.html.twig' %}

{% block title %}Liste des compétitions
{% endblock %}

{% block body %}

	<div id="nav_gauche" class="sidebar-container slideInLeft atss-left at-custom-sidebar addthis-animated">
		<ul class="sidebar-navigation">
			<li class="header">Navigation</li>
			<li>
				<a href="{{path('utilisateurs')}}">
					<i class="fa fa-home" aria-hidden="true"></i>
					Tous les utilisateurs
				</a>
			</li>
			<li>
				<a href="{{path('admins')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Admins
				</a>
			</li>
			<li>
				<a href="{{path('mentors')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Mentors
				</a>
			</li>
			<li>
				<a href="{{path('juges')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Juges
				</a>
			</li>
			<li>
				<a href="{{path('equipes')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Equipes
				</a>
			</li>
			<li>
				<a href="{{path('competitionsList')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Compétitions
				</a>
			</li>
		</ul>
	</div>


	<h1 class="text-center pt-5">Liste des compétitions</h1>

	<div class="text-center pt-5">
		<a href="{{ path('new_competition')}}" class=" btn btn-success">Ajouter</a>
	</div>

	<table class="table table-hover">
		<thead class="thead-light">

			<th>Id</th>
			<th>Nom</th>
			<th>Date</th>
			<th>Description</th>
			<th>Info</th>
			<th>Equipes</th>
			<th>Actions</th>

		</thead>
		<tbody>

			{% for competition in competitions |sort((a, b) => a.id < b.id) %}
				<tr>
					<td>{{ competition.id }}</td>
					<td>{{ competition.nom }}</td>
					<td>{{ competition.date | date('d/m/Y H:i:s')}}</td>
					<td>{{ competition.description }}</td>
					<td>{{ competition.info }}</td>

					{% for equipes in competition.getEquipe |sort((a, b) => a.id < b.id) %}
							<div>
								<td class="d-flex flex-row ">
									<p>{{ equipes.nom }}</p>
								</td>
	
							</div>

						{% else %}

							<td>
							
								<p></p>
							</td>

						{% endfor %}

					<td>
						<a href="{{ path('modifier_competition', {'id': competition.id})}}" class=" btn btn-warning">Modifier</a>

						<a href="{{ path('delete_competition', {'id': competition.id})}}" class=" btn btn-danger" onclick="return confirm('Voulez-vous vraiment suprimmer cette compétition ?')">Suprimmer</a>

						<a href="{{ path('classement_competition', {'id': competition.id})}}" class=" btn btn-info ml-8">Classement</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas de compétitions</td>
				</tr>
			{% endfor %}

		</tbody>
	</tale>

{% endblock %}
