{% extends 'base.html.twig' %}

{% block title %}Classement
{% endblock %}

{% block body %}

		<div id="nav_gauche" class="sidebar-container slideInLeft atss-left at-custom-sidebar addthis-animated">
			<ul class="sidebar-navigation">
				<li class="header">Classement</li>
			<li>
				<a href="{{path('juge_equipes')}}">
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					Général
				</a>
			</li>
			{% for competition in competitions |sort((a, b) => a.id < b.id) %}
				<li>
					<a href="{{path('note_equipe', {'id': competition.id})}}">
						<i class="fa fa-home" aria-hidden="true"></i>
						{{ competition.nom }}
					</a>
				</li>
			{% else %}
				<p>Il n'y a pas de compétition</p>
			{% endfor %}
			</ul>
		</div>

	<h1 class="text-center pt-5">Notation
		{{ competition.nom }}</h1>
	{# {{ dump(equipes) }} #}

	{# <div class="text-center pt-5">
		<a href="{{ path('competitionsList')}}" class=" btn btn-info ">Retour</a>
	</div> #}

	<table class="table table-hover">
		<thead class="thead-light">

			<th>Place</th>
			<th>Equipe</th>
			<th>Note</th>
			<th>Actions</th>

		</thead>
		<tbody>

	{# AFFICHAGE NOTES DES EQUIPES #}

			{% for competitions in competitions %}

				{% if competitions.nom == competition.nom %}

					{% for equipes in competitions.getEquipe |sort((a, b) => a.notes < b.notes)%}
						<tr>

							<td>{{ loop.index }}</td>
							<td>{{ equipes.nom }}</td>

							<td>{{ equipes.notes }}/100</td>

							<td>
								<a href="{{ path('juge_modifier_equipe', {'id': equipes.id})}}" class=" btn btn-warning">Notes</a>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}

		</tbody>
	</tale>

{% endblock %}
