{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h1 class="text-center pt-5">Liste des utilisateurs</h1>

    <table class="table">
        <thead>
        
            <th>Id</th>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôles</th>
            <th>Actions</th>
        
        </thead>
        <tbody>
        
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.structure }}</td>
                    <td>
                        {% for role in user.roles %}
                            {%  if role == "ROLE_MENTOR" %}
                                Mentor
                            {% elseif role == "ROLE_ADMIN" %}
                                Admin
                            {% elseif role == "ROLE_JUGE" %}
                                Juge
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('modifier_utilisateur', {'id': user.id})}}" class=" btn btn-warning">Modifier</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateurs inscrit</td>
                </tr>
            {% endfor %}

        </tbody>
    </tale>

{% endblock %}
