{% extends 'base.html.twig' %}

{% block body %}

	<div class="text-center pt-5">

		<h1>Concursus</h1>

	</div>

	<div class="row pt-5">


		<div class="col-md-9">


			<div class="text-center pt-5">

				<iframe width="100%" height="400" src="https://www.youtube.com/embed/twuQFm9zD5Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>
		</div>

		<div class="col-md-3 text-center pt-5">

			<h4>Programme</h4>

			{% for programme in programmes |sort((a, b) => a.id < b.id) |slice(0, 6) %}
				<a href="{{path('app_homepage_competition', {'id': programme.id})}}">
					<strong>{{programme.nom}}</strong>
				</a>
				<p>le :
					{{ programme.date | date('d/m/Y') }}
				</p>
			{% endfor %}

		</div>
	</div>

	<div class="text-center pt-5">

		<h2>Bienvenue</h2>

		<p class="text-justify">
			Lors des compétitions MakerFight Jr., les kids créent des robots qui s'affrontent sur plusieurs playgrounds. Le plaisir d'apprendre, les échanges entre élèves et le travail d'équipe sont au premier plan. Cet événement permet aux kids de s'enthousiasmer pour les mathématiques, l'informatique, les sciences naturelles et la technologie grâce à la résolution de problèmes pratiques liés aux challenges.
									La plupart des compétitions sont internationales et ouvertes aux groupes de la région et du monde entier. Les meilleurs équipes poursuivront leur aventure au niveau national, européen voire international… que la science soit avec vous !
		</p>

	</div>

	<div class="text-center pt-5">

		<h2>L'équipe Organisatrice</h2>

	</div>

	<div>
		<section>
			<div class="container">
				<div class="row">

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="180" height="180" src="http://placehold.it/150x50?text=Photo">
							</div>
							<div class="text-center">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
							<div class="text-center">
								<strong>Prénom Nom</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="text-center pt-5">

		<h2>A propos de l'événement</h2>

		<p class="text-justify">
			Cette année, au vu des contraintes liées à la pandémie, l’événmenent aura lieu en grande partie à distance. Mais nous avons souhaité conserver une partie non virtuelle c’est pourquoi, en plus de vous demander d’allumer vos caméras, nous créerons des playgrounds avec des vrais robots équipés de caméras pour garder l’esprit MakerFight.
		</p>

	</div>

	<div class="text-center pt-5">

		<h2>Sponsors</h2>

		<section>
			<div class="container">
				<div class="row">

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="90" height="90" src="http://placehold.it/150x50?text=Sponsors">
							</div>
							<div class="text-center">
								<strong>Nom du sponsors</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="90" height="90" src="http://placehold.it/150x50?text=Sponsors">
							</div>
							<div class="text-center">
								<strong>Nom du sponsors</strong>
							</div>
						</div>
					</div>

					<div class="col-md-4  mt-5">
						<div>
							<div class="text-center" itemprop="image">
								<img width="90" height="90" src="http://placehold.it/150x50?text=Sponsors">
							</div>
							<div class="text-center">
								<strong>Nom du sponsors</strong>
							</div>
						</div>
					</div>

				</div>
			</div>

		</section>

	<div class="text-center pt-5 ">

		<h2>Classement des 10 meilleurs équipes</h2>

		<section class="pt-5">

			<table class="table table-hover">
				<thead class="thead-light">

					<th>Place</th>
					<th>Equipes</th>
					<th>Note</th>

				</thead>
				<tbody>

					{% for equipes in equipes |sort((a, b) => a.notes < b.notes) | slice(0, 10)%}
						<tr>

							<td>{{ loop.index }}</td>
							<td>{{ equipes.nom }}</td>
							{% if equipes.notes != null %}
								<td>{{ equipes.notes }}/100</td>
							{% else %}

								<td>
									<p></p>
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Il n'y a pas de classement</td>
						</tr>
					{% endfor %}

				</tbody>
			</tale>
		</section>

	</div>
{% endblock %}
