{% extends 'base.html.twig' %}

{% block body %}


	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 class=" text-center ">Programmes</h1>
		{% for programme in programmes %}
			<div class="card text-center">
				<div class="card-header">
					{{programme.nom}}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{ programme.date | date('d/m/Y') }} </h5>
					<p class="card-text">A partir de {{ programme.date | date('H:i') }} </p>
					<a href="{{path('app_homepage_competition')}}" class="btn btn-primary">Voir plus</a>
				</div>
			</div><br><br>
		{% else %}
			<h2>Aucune compétition pour le moment</h2>
		{% endfor %}
		<div>
			{# {% dump competitions %} #}
			{% for competition in competitions %}

				{{dump(competition)}}

			{% endfor %}
		</div>
	</div>
{% endblock %}
